<!DOCTYPE html>
<html>
<head>
  <title>Receitas</title>
  <link rel="stylesheet" type="text/css" href="/styles/global.css">
  <link rel="stylesheet" type="text/css" href="/styles/recipe.css">
</head>
<body>
  <div class="recipe-container">
    <h2>Lista de Receitas</h2>
    <ul>
      <% recipes.forEach(function(recipe) { %>
      <li>
        <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>
      </li>
      <% }); %>
    </ul>
    <h2>Adicionar Receita</h2>
    <form action="/recipes" method="post">
      <div class="input-group">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="input-group">
        <label for="ingredients">Ingredientes:</label>
        <textarea id="ingredients" name="ingredients" required></textarea>
      </div>
      <button type="submit">Adicionar Receita</button>
    </form>
  </div>
</body>
</html>
